<app-manually (code)="this.onScannedCode($event)"></app-manually>
<div *ngIf="this.scannedCodes.length > 0">
  <div class="list-group">
    <div
      *ngFor="let code of this.scannedCodes"
      class="list-group-item list-group-item-action"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          {{ code }}
        </h5>
        <a
          style="color: red"
          [attr.data-testid]="'remove-action-' + code"
          (click)="this.onRemoveCode(code)"
          type="button"
        >
          X
        </a>
      </div>
    </div>
  </div>
</div>
